#image {
    background-image: url('/src/components/image/her2.png');
    background-repeat: no-repeat;
    background-size: contain;
}


#img {
    padding: 0px;
    margin: 0px;

    width: auto;
    height: 50%;
}